.body {
    margin: 1.75em;
    margin-left: 2em;
    margin-right: 2em;
}

.container {
    max-width: 1420px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.video {
    width: 100%;
    min-width: 50vw;
    max-width: calc(100% - 400px);
}

.chat {
    width: calc(400px - 1em);
    margin-left: 1em;
}

@media (orientation: portrait) {

    .container {
        flex-wrap: wrap;
    }

    .video {
        min-width: 100%;
        max-width: 100%;
    }    

    .chat {
        width: 100%;
        margin-top: 1.5em;
        margin-left: 0;
    }
}
