<!-- <video #video></video>
<button (click)="test()">Test</button> -->
<div class="body">

    <div class="container">

        <div class="video">
            <video #video></video>
            <div class="title">
                <h1>{{ stream.name }}</h1>
                <p>
                    {{ stream.description }}
                </p>
            </div>
        </div>

        <div class="chat">
            <mat-card>
                Hi
            </mat-card>
        </div>

    </div>

</div>
