.id {
    color: #f90;
}

.key {
    color: #f09;
}

.protocol {
    color: rgb(89, 228, 51);
}

.host {
    color: rgb(235, 41, 83);
}

.url {
    color: rgb(58, 126, 252);
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
}

h3 {
    margin-bottom: .5em;
}

button {
    vertical-align: revert;
    margin-left: .25em;
}

mat-icon {
    color: rgb(107, 233, 255);
}
