.body {
    margin: 1em;
}

.list {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.emoji {
    font-size: 2em;
    margin-left: 0.5em;
    vertical-align: middle;
}